
.modal.custom_modal {
    width: 100%;
    max-width: initial;
    overflow: initial;
    background-color: rgba(0,0,0,0);
    border: none;
    box-shadow: none;
    outline: none;    
    margin: auto;
    overflow: auto;
}

.close-modal  {
	display: none !important;
}